## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
4.0

#### Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [3]:
num = int(input("Entered Number is : "))
if num%2==0:
    print("Even Number")
else:
    print("Odd Number")

Entered Number is : 8
Even Number

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [8]:
num = int(input("Entered Number is : "))
for i in range (1,11):
    print(num,"*",i,"=",num*i)

Entered Number is : 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

l2 = [i for i in (2000,3200,1) if i%7==0 and i%5!=0]
print(i)

Q5: Count the elements of each datatype inside the list and display in output
 l =   [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [3]:
 l =   [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
int_count = 0
float_count = 0
bool_count = 0
string_count = 0
none_count = 0

for i in l:
    if type(i) == int:
        int_count = int_count+1
    elif type(i) == float:
        float_count = float_count+1
    elif type(i) == bool:
        bool_count = bool_count+1
    elif type(i) ==  str:
        string_count = string_count + 1
    else :
        none_count = none_count+1
        print ("int :",int_count,"float :",float_count,"bool :",bool_count,"string :",string_count,"none :",none_count)

int : 4 float : 1 bool : 1 string : 4 none : 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [6]:
l1 =   [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
res = 0
for i in  l1 :
    if type(i)in(int,float) :
        
        res = res + i
print(res)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [12]:
l2 =  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
l4 = []
for i in l2 :
    if type(i) == str :
        l4.append(i)
        
print(l4)
print('-'.join(l4))

['Py', '10', 'SQL', 'John']
Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [5]:
l3 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

def add(l):
    dict1 = {}
     
    dict1['sum of all numbers (exclude bool)'] = sum([float(i) for i in l if type(i)== int or type(i)== float])
    dict1['count of all str'] = len([str(i) for i in l if type(i)== str])
    return dict1

add(l3)

{'sum of all numbers (exclude bool)': 21.5, 'count of all str': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [6]:
list1 = [11,23,45,23,64,22,11,24]

for num in list1:
   
   if num % 2 != 0:
      print(num, end = " ")

11 23 45 23 11

In [7]:
list1 = [11,23,45,23,64,22,11,24]

odd_no = list(filter(lambda x: (x % 2 != 0), list1))
print("Odd numbers in the list: ", odd_no)

Odd numbers in the list:  [11, 23, 45, 23, 11]

In [8]:
list1 = [11,23,45,23,64,22,11,24]

odd_nos = [num for num in list1 if num % 2 != 0]
print("Odd numbers : ", odd_nos)

Odd numbers :  [11, 23, 45, 23, 11]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [9]:
l = [1,5, 10, 30, 40, 7]

l2 = [i for i in l if type(i) in (int,float)]

print("sum:", sum(l2))
print("count:",len(l2))
print("min:", min(l2))
print("max:", max(l2))
print("mean:", sum(l2)/len(l2) )

sum: 93
count: 6
min: 1
max: 40
mean: 15.5

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [1]:
shape_name = input('Enter the name of shape whose area you want to find : ')

def calculate_area(name):
    name = name.lower()
    
    if name == 'square':
        s = int(input("Enter square's side length : "))

        # calculate area of square
        sqt_area = s * s
        print(f'The area of square is {sqt_area}.')
        
    elif name == 'rectangle':
        l = int(input("Enter rectangle's length : "))
        w = int(input("Enter rectangle's width : "))

        # calculate area of rectangle
        rect_area = l * w
        print(f'The area of rectangle is {rect_area}.') 
        
    elif name == 'circle':
        r = int(input("Enter circle's radius length: "))
        pi = 3.14

        # calculate area of circle
        circ_area = pi * r * r
        print(f'The area of triangle is {circ_area}. ')
        
        
calculate_area(shape_name)

Enter the name of shape whose area you want to find : square
Enter square's side length : 3
The area of square is 9.

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [10]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def my_func(l1,l2):
    x=set(l1)
    y=set(l2)
    result = {}
    result['Matched'] = list(x.intersection(y))
    result['only in l1'] =list( x-y)
    result['only in l2'] = list(y-x)
    return result
my_func(l1,l2)

{'Matched': ['December', 'January', 'February', 'June'],
 'only in l1': ['May', 'March', 'September'],
 'only in l2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [2]:
def fact(x):
    for i in range(2,x,1):
        if x%i==0:
            print("not prime")
            break
        else:
            print("prime")
fact(3)

prime

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [5]:
num = int(input("entered no : "))
fact = 1
for i in range(num, 1, -1):
          fact = fact*i
          
print(num,"=",fact)

entered no : 8
8 = 40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [7]:
num2 = int(input("entered no : "))

d = {}
for i in range(1, num2+1,1):
        d[i] = i*i
print(d)

entered no : 4
{1: 1, 2: 4, 3: 9, 4: 16}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [12]:
num3 = input("entered no : ")

x=num3.split(',')
print('list',x)

t=tuple(x)
print('tuple',t)

entered no : 1,2,3,4,5,6,7
list ['1', '2', '3', '4', '5', '6', '7']
tuple ('1', '2', '3', '4', '5', '6', '7')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [14]:
x = input("entered word : ")
y_list=x.split(',')
print("org_list : " ,y_list)

y_list.sort()
print("new",y_list)

entered no : hello,bag,rat
org_list :  ['hello', 'bag', 'rat']
new ['bag', 'hello', 'rat']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [12]:
words = input('Enter a sequence of whitespace separated words : ')
words1 = words.split(' ')
words1 = set(words1)
sorted_words = sorted(words1)
print((' ').join(sorted_words))

Enter a sequence of whitespace separated words : rew er ty
er rew ty

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [11]:
sentense = input('Enter a sentence : ')
sentense = list(sentense)

upper,lower = 0 , 0

for i in sentense:
    if i.isupper():
        upper = upper + 1
        
    if i.islower():
        lower = lower + 1
    else:
        pass
        
print('UPPER CASE ',upper,'LOWER CASE ',lower)

Enter a sentence : wer
UPPER CASE  0 LOWER CASE  3

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [15]:
text = input("name : ")
new_text = text[: : -1]
print("reversed_name : ",new_text)

name : shubh
reversed_name :  hbuhs